doctype html
html
	head
		title CSCW 2018
		include shared-head

	body

	ul.nav.stick-to-top
		.nav-mobile
			span.fa.fa-list-ul
		.content-wrapper
			each n in sharedNavi.content
				a(href=n.link)
					li= n.title

	.section.header
		svg.bg-layer.header-animation#snap-pg
		.bg-layer.overlay-gradient
		.bg-layer.bg-extend
		.content-wrapper
			img(src='./assets/logo-home-header.svg')
			h3= homeHeader.h1
			p= homeHeader.h2

	.section.welcome
		.title= homeWelcome.title
		.separator
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		.content!= homeWelcome.content

	.section.importantNow
		.title= homeImportantNow.title
		.separator.separator--w
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		ul
			each f in homeImportantNow.content
				li
					.q
						span.fa.fa-caret-right
						h4= f.q
					.a
						p!= f.a

	.section.news
		.column.news-twitter
			a.twitter-timeline(href='https://twitter.com/ACM_CSCW') Tweets by ACM_CSCW
			script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
		.column.news-local
			.title= homeNews.title
			ul.content
				each n in homeNews.content
					li!= n

	.section.cfp
		.title= homeCfp.title
		.separator
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		.content!= homeCfp.content
		.link-more
			a(href='submit.html') More Information

	.section.sponsors
		.title= homeSponsors.title
		.separator.separator--w
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		.content!= homeSponsors.content

	.section.committee
		.title= homeCommittee.title
		.separator
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		.content
			each c in homeCommittee.content
				p!= c.name
		.link-more
			a(href='committee.html') More Information

	include shared-footer
