doctype html
html
	head
		title CSCW 2018 | 21st ACM Conference on Computer-Supported Cooperative Work and Social Computing
		include shared-head

	body

	ul.nav.stick-to-top(aria-label='Menu' tabindex='0')
		.nav-mobile
			span.fa.fa-list-ul
		.content-wrapper
			each n in sharedNavi.content
				a(href=n.link tabindex='0')
					li= n.title

	.section.header
		.bg-layer.header-animation#anim-pg
		.bg-layer.overlay-gradient
		.bg-layer.bg-extend
		.content-wrapper(aria-labelledby='aria-header')
			img(src='./assets/logo-home-header.svg')
			h3#aria-header= homeHeader.h1
			p
				span= homeHeader.h2
				a(href='#venue').highlight= homeHeader.highlight

	.section.welcome(aria-label='Welcome Text')
		.separator-bar
		p!= homeWelcome.content

	.section.venue#venue(aria-labelledby='aria-location')
		a(href='location.html')
			.title#aria-location= homeVenue.title

	.section.importantNow(aria-labelledby='aria-important')
		.title#aria-important= homeImportantNow.title
		.separator
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		ul.content
			each n in homeImportantNow.content
				li!= n

	.section.news(aria-label='News')
		.column.news-twitter(tabindex='-1')
			//- a.twitter-timeline(href='https://twitter.com/ACM_CSCW') Tweets by ACM_CSCW
			//- script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
			a.twitter-timeline(href='https://twitter.com/hashtag/cscw2018', data-widget-id='831545836899270656') #cscw2018 Tweets
			script.
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

		.column.news-local(aria-labelledby='aria-news')
			.title#aira-news= homeNews.title
			ul
				each f in homeNews.content
					li
						.q
							span.fa.fa-caret-right
							span= f.q
						.a
							p!= f.a

	.section.subscribe(aria-label='Subscription')
		.content
			p Sign up for the CSCW 2018 mailing list to get all important updates!
			#mailchimp
				// Begin MailChimp Signup Form
				#mc_embed_signup
					form#mc-embedded-subscribe-form.validate(action='//acm.us15.list-manage.com/subscribe/post?u=8ef197aef68e626fff5b2a78e&amp;id=318397b4c2', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
						#mc_embed_signup_scroll
							.mc-field-group
								input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
							// real people should not fill this in and expect good things - do not remove this or risk form bot signups
							div(style='position: absolute; left: -5000px;', aria-hidden='true')
								input(type='text', name='b_8ef197aef68e626fff5b2a78e_318397b4c2', tabindex='-1', value='')
							.clear
								input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
							#mce-responses.clear
								#mce-error-response.response(style='display:none')
								#mce-success-response.response(style='display:none')
				script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
				script(type='text/javascript').
					(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
				// End mc_embed_signup

	.section.cfp(aria-labelledby='aria-cfp')
		.title#aria-cfp= homeCfp.title
		.separator
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		.content!= homeCfp.content
		.link-more
			a(href='submit.html')
				span.fa.fa-angle-right
				span More Information

	.section.sponsors(aria-labelledby='aria-sponsors')
		.title#aria-sponsors= homeSponsors.title
		.separator
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		.content!= homeSponsors.content

	.section.committee(aria-labelledby='aria-committee')
		.title#aria-committee= homeCommittee.title
		.separator
			span.fa.fa-circle
			span.fa.fa-circle
			span.fa.fa-circle
		.content
			each c in homeCommittee.content
				h3= c.title
				each n in c.names
					p!= n
		.link-more
			a(href='committee.html')
				span.fa.fa-angle-right
				span More Information

	include shared-footer
