doctype html
html
	head
		title Program - CSCW 2018
		include ../shared-head

	body

	include ../shared-small-header

	.section.main
		include leftnav
		.column.main-right-content
			each n in programOverviewContents.items
				.content-item
					.title(id=n.title)= n.title
					.separator
						span.fa.fa-circle
						span.fa.fa-circle
						span.fa.fa-circle
					.content!= n.content
			.program
				each d in programScheduleContents.days
					.content-item
						h3!= d.date
						table
							thead
								tr
									th Start Time
									th End Time
									th Session
							tbody
								each s in d.sessions
									tr
										td!= s.start
										td!= s.end
										td!= s.name
										

	include ../shared-footer